@import url('./element-ui@2.0.11.css');
// 屏幕尺寸
$size: 24;
$size-l: 1200px;
$size-m: 992px;
$size-s: 768px;
$size-ss: 380px;
// 响应式布局
@mixin col($name,
$threshold) {
  @if $threshold=='' {
    @for $i from 1 through $size {
      .col-#{$name}-#{$i} {
        width: (100%/$size)*$i;
      }
    }
  }
  @else {
    @media (min-width: $threshold) {
      @for $i from 1 through $size {
        .col-#{$name}-#{$i} {
          width:(100%/$size)*$i;
        }
      }
    }
  }
}

@include col('auto',
'');
@include col('ss',
$size-ss);
@include col('s',
$size-s);
@include col('m',
$size-m);
@include col('l',
$size-l);
// flex盒模型
@mixin flex ($type,
$x,
$y) {
  @if $type=='' {
    .flex {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
    }
  }
  @else {
    .flex-#{$type}-#{$x}-#{$y} {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: #{$type};
      justify-content: #{$x};
      align-items: #{$y};
      flex-wrap: nowrap;
    }
  }
}

@include flex('',
'',
'');
@include flex('row',
'flex-start',
'center');
@include flex('row',
'flex-start',
'flex-start');
@include flex('row',
'flex-start',
'flex-end');
@include flex('column',
'center',
'center');
.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.jcsb {
  justify-content: space-between !important;
}

@mixin margin ($x,
$y) {
  @if $y=='' {
    .m#{$x} {
      margin: #{$x}px;
    }
  }
  @else {
    .m#{$x}-#{$y} {
      margin: #{$x}px #{$y}px;
    }
  }
}

@for $i from 0 through 10 {
  @include margin(#{$i*10},
  '');
  @for $j from 0 through 10 {
    @include margin(#{$i*10},
    #{$j*10});
  }
}

@mixin padding ($x,
$y) {
  @if $y=='' {
    .p#{$x} {
      padding: #{$x}px;
    }
  }
  @else {
    .p#{$x}-#{$y} {
      padding: #{$x}px #{$y}px;
    }
  }
}

@for $i from 0 through 10 {
  @include padding(#{$i*10},
  '');
  @for $j from 0 through 10 {
    @include padding(#{$i*10},
    #{$j*10});
  }
}

@for $i from 1 through 10 {
  .ml-#{$i*10} {
    margin-left: #{$i*10}px;
  }
  .mt-#{$i*10} {
    margin-top: #{$i*10}px;
  }
  .mr-#{$i*10} {
    margin-right: #{$i*10}px;
  }
  .mb-#{$i*10} {
    margin-bottom: #{$i*10}px;
  }
  .pl-#{$i*10} {
    padding-left: #{$i*10}px;
  }
  .pt-#{$i*10} {
    padding-top: #{$i*10}px;
  }
  .pr-#{$i*10} {
    padding-right: #{$i*10}px;
  }
  .pb-#{$i*10} {
    padding-bottom: #{$i*10}px;
  }
}
.mt-5{
  margin-top: 5px;
}
.setting-textarea{
  min-height: 100px;
  width: 100%;
  resize: none;
  padding: 20px;
}

//
.full {
  width: 100% !important;
  height: 100% !important;
}

.imgDocker img {
  width: 100%;
  height: auto;
}

.imgDocker a {
  display: block;
  width: 100%;
  height: auto;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.db {
  display: block !important;
}

.di {
  display: inline-block;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.newshow {
  visibility: visible;
}

.newhide {
  visibility: hidden;
}

.p0 {
  padding: 0 !important;
}

.p10-0 {
  padding: 10px 0;
}

.m0 {
  margin: 0 !important;
}

.m10-0 {
  margin: 10px 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.h0 {
  height: 0 !important;
}

.m10 {
  margin: 10px;
}

.m10-0 {
  margin: 10px 0;
}

.m0-10 {
  margin: 0 10px;
}

.p5{
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.p10-0 {
  padding: 10px 0;
}

.p0-10 {
  padding: 0 10px;
}

.m-auto {
  margin: 0 auto;
}

.b0 {
  border: 0 !important;
}

.fb {
  font-weight: bold;
}

.center {
  text-align: center;
}

.cp {
  cursor: pointer;
}

.lh-1 {
  line-height: 1;
}

.un {
  user-select: none;
}

.color_primary {
  color: #337ab7;
}

.color_success {
  color: #5cb85c;
}

.color_info {
  color: #5bc0de;
}

.color_warning {
  color: #f0ad4e;
}

.color_danger {
  color: #d9534f;
}

.required_msg_box b {
  color: #555;
  font-weight: normal;
}

.color_danger_b {
  border: 1px solid #d9534f;
  color: #d9534f;
}

.bordercolor_danger {
  border-color: #d9534f !important;
}

.removeIcon:hover {
  color: #d9534f;
}

.icon {
  font-size: 2.4rem;
}

.docker-border {
  border: 1px solid #cacaca;
}

.base-bg-color {
  background: #1a8eff !important;
  color: #fff !important;
}

.of-v {
  overflow: visible !important;
}

.of-h {
  overflow: hidden !important;
}

.wbba {
  word-break: break-all !important;
}

.ws-nowrap {
  white-space: nowrap;
}

/* 开关组件开始 */

.switchBox {
  width: 62px;
  overflow: hidden;
  border-radius: 20px;
  font-size: 12px;
  line-height: 1;
  .switch {
    width: 100px;
    padding: 2px 0;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    transition: all 0.5s ease;
    .switch_font {
      width: 30px;
      text-align: center;
      padding: 0 5px;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
    .switch_circle {
      width: 20px;
      height: 20px;
      background: #fff;
      border-radius: 50%;
    }
  }
  .switch_on {
    background: #5cb85c;
  }
  .switch_off {
    background: #d9534f;
    transform: translateX(-37px);
  }
}

/* 开关组件结束 */

/* 模糊搜索开始 */

.my-search {
  @extend .full;
  @extend .pr;
  .my-search-input-box {
    @extend .full;
    .my-search-input-docker {
      padding: 5px;
      margin: 5px;
      border-radius: 3px;
      line-height: 1;
    }
    .my-search-input {
      @extend .full;
      border: 0;
      padding: 0 10px;
      font-weight: bold;
      min-height: 32px;
    }
    .my-search-icon {
      padding: 0 10px;
      transition: all .5s ease;
      font-size: 1.2rem;
    }
    .my-search-icon-up {
      transform: rotateZ(-180deg);
    }
  }
  .my-search-box {
    position: absolute;
    left: 0;
    top: 100%;
    width: auto;
    height: auto;
    max-height: 400px;
    background: #fff;
    overflow: auto;
    z-index: 99;
    border-radius: 0 0 5px 5px;
    border: 1px solid #e0e0e0;
    .my-search-ul {
      @extend .show;
      position: relative;
      left: 0;
      top: 0;
      border: 0;
      overflow: visible;
      max-height: none;
      width: 100%;
      .my-search-li {
        padding: 10px;
        cursor: pointer;
        line-height: 1.4rem;
        height: auto;
        text-indent: inherit;
        border-top: 1px solid #e0e0e0;
        &:hover {
          background: #1a8eff;
          color: #fff;
        }
        &:first-child {
          border-top: 0;
        }
      }
    }
  }
}

/* 模糊搜索结束 */

/* 多项模糊搜索结束 */

// slide-fade
.slide-fade-enter-active {
  transition: all .5s ease;
}

.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */

  {
  transform: translateX(10px);
  opacity: 0;
}

// fade
.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active in below version 2.1.8 */

  {
  opacity: 0
}

.fade-enter-to,
.fade-leave

  {
  opacity: 1
}

// list
.list-item {
  display: inline-block;
  margin-right: 10px;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s;
}

.list-enter,
.list-leave-to
/* .list-leave-active for below version 2.1.8 */

  {
  opacity: 0;
  transform: translateX(50px);
}

.list-move {
  transition: all 0.5s;
}

// element
.date-picker-box {
  width: 350px;
}

.w100 {
  width: 100%;
}

.ml-10 {
  margin-left: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.element-table {
  table {
    border-collapse: inherit;
  }
}