@charset "UTF-8";
@import url("./element-ui@2.0.11.css");
.col-auto-1 {
  width: 4.16667%;
}

.col-auto-2 {
  width: 8.33333%;
}

.col-auto-3 {
  width: 12.5%;
}

.col-auto-4 {
  width: 16.66667%;
}

.col-auto-5 {
  width: 20.83333%;
}

.col-auto-6 {
  width: 25%;
}

.col-auto-7 {
  width: 29.16667%;
}

.col-auto-8 {
  width: 33.33333%;
}

.col-auto-9 {
  width: 37.5%;
}

.col-auto-10 {
  width: 41.66667%;
}

.col-auto-11 {
  width: 45.83333%;
}

.col-auto-12 {
  width: 50%;
}

.col-auto-13 {
  width: 54.16667%;
}

.col-auto-14 {
  width: 58.33333%;
}

.col-auto-15 {
  width: 62.5%;
}

.col-auto-16 {
  width: 66.66667%;
}

.col-auto-17 {
  width: 70.83333%;
}

.col-auto-18 {
  width: 75%;
}

.col-auto-19 {
  width: 79.16667%;
}

.col-auto-20 {
  width: 83.33333%;
}

.col-auto-21 {
  width: 87.5%;
}

.col-auto-22 {
  width: 91.66667%;
}

.col-auto-23 {
  width: 95.83333%;
}

.col-auto-24 {
  width: 100%;
}

@media (min-width: 380px) {
  .col-ss-1 {
    width: 4.16667%;
  }
  .col-ss-2 {
    width: 8.33333%;
  }
  .col-ss-3 {
    width: 12.5%;
  }
  .col-ss-4 {
    width: 16.66667%;
  }
  .col-ss-5 {
    width: 20.83333%;
  }
  .col-ss-6 {
    width: 25%;
  }
  .col-ss-7 {
    width: 29.16667%;
  }
  .col-ss-8 {
    width: 33.33333%;
  }
  .col-ss-9 {
    width: 37.5%;
  }
  .col-ss-10 {
    width: 41.66667%;
  }
  .col-ss-11 {
    width: 45.83333%;
  }
  .col-ss-12 {
    width: 50%;
  }
  .col-ss-13 {
    width: 54.16667%;
  }
  .col-ss-14 {
    width: 58.33333%;
  }
  .col-ss-15 {
    width: 62.5%;
  }
  .col-ss-16 {
    width: 66.66667%;
  }
  .col-ss-17 {
    width: 70.83333%;
  }
  .col-ss-18 {
    width: 75%;
  }
  .col-ss-19 {
    width: 79.16667%;
  }
  .col-ss-20 {
    width: 83.33333%;
  }
  .col-ss-21 {
    width: 87.5%;
  }
  .col-ss-22 {
    width: 91.66667%;
  }
  .col-ss-23 {
    width: 95.83333%;
  }
  .col-ss-24 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .col-s-1 {
    width: 4.16667%;
  }
  .col-s-2 {
    width: 8.33333%;
  }
  .col-s-3 {
    width: 12.5%;
  }
  .col-s-4 {
    width: 16.66667%;
  }
  .col-s-5 {
    width: 20.83333%;
  }
  .col-s-6 {
    width: 25%;
  }
  .col-s-7 {
    width: 29.16667%;
  }
  .col-s-8 {
    width: 33.33333%;
  }
  .col-s-9 {
    width: 37.5%;
  }
  .col-s-10 {
    width: 41.66667%;
  }
  .col-s-11 {
    width: 45.83333%;
  }
  .col-s-12 {
    width: 50%;
  }
  .col-s-13 {
    width: 54.16667%;
  }
  .col-s-14 {
    width: 58.33333%;
  }
  .col-s-15 {
    width: 62.5%;
  }
  .col-s-16 {
    width: 66.66667%;
  }
  .col-s-17 {
    width: 70.83333%;
  }
  .col-s-18 {
    width: 75%;
  }
  .col-s-19 {
    width: 79.16667%;
  }
  .col-s-20 {
    width: 83.33333%;
  }
  .col-s-21 {
    width: 87.5%;
  }
  .col-s-22 {
    width: 91.66667%;
  }
  .col-s-23 {
    width: 95.83333%;
  }
  .col-s-24 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .col-m-1 {
    width: 4.16667%;
  }
  .col-m-2 {
    width: 8.33333%;
  }
  .col-m-3 {
    width: 12.5%;
  }
  .col-m-4 {
    width: 16.66667%;
  }
  .col-m-5 {
    width: 20.83333%;
  }
  .col-m-6 {
    width: 25%;
  }
  .col-m-7 {
    width: 29.16667%;
  }
  .col-m-8 {
    width: 33.33333%;
  }
  .col-m-9 {
    width: 37.5%;
  }
  .col-m-10 {
    width: 41.66667%;
  }
  .col-m-11 {
    width: 45.83333%;
  }
  .col-m-12 {
    width: 50%;
  }
  .col-m-13 {
    width: 54.16667%;
  }
  .col-m-14 {
    width: 58.33333%;
  }
  .col-m-15 {
    width: 62.5%;
  }
  .col-m-16 {
    width: 66.66667%;
  }
  .col-m-17 {
    width: 70.83333%;
  }
  .col-m-18 {
    width: 75%;
  }
  .col-m-19 {
    width: 79.16667%;
  }
  .col-m-20 {
    width: 83.33333%;
  }
  .col-m-21 {
    width: 87.5%;
  }
  .col-m-22 {
    width: 91.66667%;
  }
  .col-m-23 {
    width: 95.83333%;
  }
  .col-m-24 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-l-1 {
    width: 4.16667%;
  }
  .col-l-2 {
    width: 8.33333%;
  }
  .col-l-3 {
    width: 12.5%;
  }
  .col-l-4 {
    width: 16.66667%;
  }
  .col-l-5 {
    width: 20.83333%;
  }
  .col-l-6 {
    width: 25%;
  }
  .col-l-7 {
    width: 29.16667%;
  }
  .col-l-8 {
    width: 33.33333%;
  }
  .col-l-9 {
    width: 37.5%;
  }
  .col-l-10 {
    width: 41.66667%;
  }
  .col-l-11 {
    width: 45.83333%;
  }
  .col-l-12 {
    width: 50%;
  }
  .col-l-13 {
    width: 54.16667%;
  }
  .col-l-14 {
    width: 58.33333%;
  }
  .col-l-15 {
    width: 62.5%;
  }
  .col-l-16 {
    width: 66.66667%;
  }
  .col-l-17 {
    width: 70.83333%;
  }
  .col-l-18 {
    width: 75%;
  }
  .col-l-19 {
    width: 79.16667%;
  }
  .col-l-20 {
    width: 83.33333%;
  }
  .col-l-21 {
    width: 87.5%;
  }
  .col-l-22 {
    width: 91.66667%;
  }
  .col-l-23 {
    width: 95.83333%;
  }
  .col-l-24 {
    width: 100%;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-row-flex-start-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-row-flex-start-flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-row-flex-start-flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-column-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.jcsb {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.m0 {
  margin: 0px;
}

.m0-0 {
  margin: 0px 0px;
}

.m0-10 {
  margin: 0px 10px;
}

.m0-20 {
  margin: 0px 20px;
}

.m0-30 {
  margin: 0px 30px;
}

.m0-40 {
  margin: 0px 40px;
}

.m0-50 {
  margin: 0px 50px;
}

.m0-60 {
  margin: 0px 60px;
}

.m0-70 {
  margin: 0px 70px;
}

.m0-80 {
  margin: 0px 80px;
}

.m0-90 {
  margin: 0px 90px;
}

.m0-100 {
  margin: 0px 100px;
}

.m10 {
  margin: 10px;
}

.m10-0 {
  margin: 10px 0px;
}

.m10-10 {
  margin: 10px 10px;
}

.m10-20 {
  margin: 10px 20px;
}

.m10-30 {
  margin: 10px 30px;
}

.m10-40 {
  margin: 10px 40px;
}

.m10-50 {
  margin: 10px 50px;
}

.m10-60 {
  margin: 10px 60px;
}

.m10-70 {
  margin: 10px 70px;
}

.m10-80 {
  margin: 10px 80px;
}

.m10-90 {
  margin: 10px 90px;
}

.m10-100 {
  margin: 10px 100px;
}

.m20 {
  margin: 20px;
}

.m20-0 {
  margin: 20px 0px;
}

.m20-10 {
  margin: 20px 10px;
}

.m20-20 {
  margin: 20px 20px;
}

.m20-30 {
  margin: 20px 30px;
}

.m20-40 {
  margin: 20px 40px;
}

.m20-50 {
  margin: 20px 50px;
}

.m20-60 {
  margin: 20px 60px;
}

.m20-70 {
  margin: 20px 70px;
}

.m20-80 {
  margin: 20px 80px;
}

.m20-90 {
  margin: 20px 90px;
}

.m20-100 {
  margin: 20px 100px;
}

.m30 {
  margin: 30px;
}

.m30-0 {
  margin: 30px 0px;
}

.m30-10 {
  margin: 30px 10px;
}

.m30-20 {
  margin: 30px 20px;
}

.m30-30 {
  margin: 30px 30px;
}

.m30-40 {
  margin: 30px 40px;
}

.m30-50 {
  margin: 30px 50px;
}

.m30-60 {
  margin: 30px 60px;
}

.m30-70 {
  margin: 30px 70px;
}

.m30-80 {
  margin: 30px 80px;
}

.m30-90 {
  margin: 30px 90px;
}

.m30-100 {
  margin: 30px 100px;
}

.m40 {
  margin: 40px;
}

.m40-0 {
  margin: 40px 0px;
}

.m40-10 {
  margin: 40px 10px;
}

.m40-20 {
  margin: 40px 20px;
}

.m40-30 {
  margin: 40px 30px;
}

.m40-40 {
  margin: 40px 40px;
}

.m40-50 {
  margin: 40px 50px;
}

.m40-60 {
  margin: 40px 60px;
}

.m40-70 {
  margin: 40px 70px;
}

.m40-80 {
  margin: 40px 80px;
}

.m40-90 {
  margin: 40px 90px;
}

.m40-100 {
  margin: 40px 100px;
}

.m50 {
  margin: 50px;
}

.m50-0 {
  margin: 50px 0px;
}

.m50-10 {
  margin: 50px 10px;
}

.m50-20 {
  margin: 50px 20px;
}

.m50-30 {
  margin: 50px 30px;
}

.m50-40 {
  margin: 50px 40px;
}

.m50-50 {
  margin: 50px 50px;
}

.m50-60 {
  margin: 50px 60px;
}

.m50-70 {
  margin: 50px 70px;
}

.m50-80 {
  margin: 50px 80px;
}

.m50-90 {
  margin: 50px 90px;
}

.m50-100 {
  margin: 50px 100px;
}

.m60 {
  margin: 60px;
}

.m60-0 {
  margin: 60px 0px;
}

.m60-10 {
  margin: 60px 10px;
}

.m60-20 {
  margin: 60px 20px;
}

.m60-30 {
  margin: 60px 30px;
}

.m60-40 {
  margin: 60px 40px;
}

.m60-50 {
  margin: 60px 50px;
}

.m60-60 {
  margin: 60px 60px;
}

.m60-70 {
  margin: 60px 70px;
}

.m60-80 {
  margin: 60px 80px;
}

.m60-90 {
  margin: 60px 90px;
}

.m60-100 {
  margin: 60px 100px;
}

.m70 {
  margin: 70px;
}

.m70-0 {
  margin: 70px 0px;
}

.m70-10 {
  margin: 70px 10px;
}

.m70-20 {
  margin: 70px 20px;
}

.m70-30 {
  margin: 70px 30px;
}

.m70-40 {
  margin: 70px 40px;
}

.m70-50 {
  margin: 70px 50px;
}

.m70-60 {
  margin: 70px 60px;
}

.m70-70 {
  margin: 70px 70px;
}

.m70-80 {
  margin: 70px 80px;
}

.m70-90 {
  margin: 70px 90px;
}

.m70-100 {
  margin: 70px 100px;
}

.m80 {
  margin: 80px;
}

.m80-0 {
  margin: 80px 0px;
}

.m80-10 {
  margin: 80px 10px;
}

.m80-20 {
  margin: 80px 20px;
}

.m80-30 {
  margin: 80px 30px;
}

.m80-40 {
  margin: 80px 40px;
}

.m80-50 {
  margin: 80px 50px;
}

.m80-60 {
  margin: 80px 60px;
}

.m80-70 {
  margin: 80px 70px;
}

.m80-80 {
  margin: 80px 80px;
}

.m80-90 {
  margin: 80px 90px;
}

.m80-100 {
  margin: 80px 100px;
}

.m90 {
  margin: 90px;
}

.m90-0 {
  margin: 90px 0px;
}

.m90-10 {
  margin: 90px 10px;
}

.m90-20 {
  margin: 90px 20px;
}

.m90-30 {
  margin: 90px 30px;
}

.m90-40 {
  margin: 90px 40px;
}

.m90-50 {
  margin: 90px 50px;
}

.m90-60 {
  margin: 90px 60px;
}

.m90-70 {
  margin: 90px 70px;
}

.m90-80 {
  margin: 90px 80px;
}

.m90-90 {
  margin: 90px 90px;
}

.m90-100 {
  margin: 90px 100px;
}

.m100 {
  margin: 100px;
}

.m100-0 {
  margin: 100px 0px;
}

.m100-10 {
  margin: 100px 10px;
}

.m100-20 {
  margin: 100px 20px;
}

.m100-30 {
  margin: 100px 30px;
}

.m100-40 {
  margin: 100px 40px;
}

.m100-50 {
  margin: 100px 50px;
}

.m100-60 {
  margin: 100px 60px;
}

.m100-70 {
  margin: 100px 70px;
}

.m100-80 {
  margin: 100px 80px;
}

.m100-90 {
  margin: 100px 90px;
}

.m100-100 {
  margin: 100px 100px;
}

.p0 {
  padding: 0px;
}

.p0-0 {
  padding: 0px 0px;
}

.p0-10 {
  padding: 0px 10px;
}

.p0-20 {
  padding: 0px 20px;
}

.p0-30 {
  padding: 0px 30px;
}

.p0-40 {
  padding: 0px 40px;
}

.p0-50 {
  padding: 0px 50px;
}

.p0-60 {
  padding: 0px 60px;
}

.p0-70 {
  padding: 0px 70px;
}

.p0-80 {
  padding: 0px 80px;
}

.p0-90 {
  padding: 0px 90px;
}

.p0-100 {
  padding: 0px 100px;
}

.p10 {
  padding: 10px;
}

.p10-0 {
  padding: 10px 0px;
}

.p10-10 {
  padding: 10px 10px;
}

.p10-20 {
  padding: 10px 20px;
}

.p10-30 {
  padding: 10px 30px;
}

.p10-40 {
  padding: 10px 40px;
}

.p10-50 {
  padding: 10px 50px;
}

.p10-60 {
  padding: 10px 60px;
}

.p10-70 {
  padding: 10px 70px;
}

.p10-80 {
  padding: 10px 80px;
}

.p10-90 {
  padding: 10px 90px;
}

.p10-100 {
  padding: 10px 100px;
}

.p20 {
  padding: 20px;
}

.p20-0 {
  padding: 20px 0px;
}

.p20-10 {
  padding: 20px 10px;
}

.p20-20 {
  padding: 20px 20px;
}

.p20-30 {
  padding: 20px 30px;
}

.p20-40 {
  padding: 20px 40px;
}

.p20-50 {
  padding: 20px 50px;
}

.p20-60 {
  padding: 20px 60px;
}

.p20-70 {
  padding: 20px 70px;
}

.p20-80 {
  padding: 20px 80px;
}

.p20-90 {
  padding: 20px 90px;
}

.p20-100 {
  padding: 20px 100px;
}

.p30 {
  padding: 30px;
}

.p30-0 {
  padding: 30px 0px;
}

.p30-10 {
  padding: 30px 10px;
}

.p30-20 {
  padding: 30px 20px;
}

.p30-30 {
  padding: 30px 30px;
}

.p30-40 {
  padding: 30px 40px;
}

.p30-50 {
  padding: 30px 50px;
}

.p30-60 {
  padding: 30px 60px;
}

.p30-70 {
  padding: 30px 70px;
}

.p30-80 {
  padding: 30px 80px;
}

.p30-90 {
  padding: 30px 90px;
}

.p30-100 {
  padding: 30px 100px;
}

.p40 {
  padding: 40px;
}

.p40-0 {
  padding: 40px 0px;
}

.p40-10 {
  padding: 40px 10px;
}

.p40-20 {
  padding: 40px 20px;
}

.p40-30 {
  padding: 40px 30px;
}

.p40-40 {
  padding: 40px 40px;
}

.p40-50 {
  padding: 40px 50px;
}

.p40-60 {
  padding: 40px 60px;
}

.p40-70 {
  padding: 40px 70px;
}

.p40-80 {
  padding: 40px 80px;
}

.p40-90 {
  padding: 40px 90px;
}

.p40-100 {
  padding: 40px 100px;
}

.p50 {
  padding: 50px;
}

.p50-0 {
  padding: 50px 0px;
}

.p50-10 {
  padding: 50px 10px;
}

.p50-20 {
  padding: 50px 20px;
}

.p50-30 {
  padding: 50px 30px;
}

.p50-40 {
  padding: 50px 40px;
}

.p50-50 {
  padding: 50px 50px;
}

.p50-60 {
  padding: 50px 60px;
}

.p50-70 {
  padding: 50px 70px;
}

.p50-80 {
  padding: 50px 80px;
}

.p50-90 {
  padding: 50px 90px;
}

.p50-100 {
  padding: 50px 100px;
}

.p60 {
  padding: 60px;
}

.p60-0 {
  padding: 60px 0px;
}

.p60-10 {
  padding: 60px 10px;
}

.p60-20 {
  padding: 60px 20px;
}

.p60-30 {
  padding: 60px 30px;
}

.p60-40 {
  padding: 60px 40px;
}

.p60-50 {
  padding: 60px 50px;
}

.p60-60 {
  padding: 60px 60px;
}

.p60-70 {
  padding: 60px 70px;
}

.p60-80 {
  padding: 60px 80px;
}

.p60-90 {
  padding: 60px 90px;
}

.p60-100 {
  padding: 60px 100px;
}

.p70 {
  padding: 70px;
}

.p70-0 {
  padding: 70px 0px;
}

.p70-10 {
  padding: 70px 10px;
}

.p70-20 {
  padding: 70px 20px;
}

.p70-30 {
  padding: 70px 30px;
}

.p70-40 {
  padding: 70px 40px;
}

.p70-50 {
  padding: 70px 50px;
}

.p70-60 {
  padding: 70px 60px;
}

.p70-70 {
  padding: 70px 70px;
}

.p70-80 {
  padding: 70px 80px;
}

.p70-90 {
  padding: 70px 90px;
}

.p70-100 {
  padding: 70px 100px;
}

.p80 {
  padding: 80px;
}

.p80-0 {
  padding: 80px 0px;
}

.p80-10 {
  padding: 80px 10px;
}

.p80-20 {
  padding: 80px 20px;
}

.p80-30 {
  padding: 80px 30px;
}

.p80-40 {
  padding: 80px 40px;
}

.p80-50 {
  padding: 80px 50px;
}

.p80-60 {
  padding: 80px 60px;
}

.p80-70 {
  padding: 80px 70px;
}

.p80-80 {
  padding: 80px 80px;
}

.p80-90 {
  padding: 80px 90px;
}

.p80-100 {
  padding: 80px 100px;
}

.p90 {
  padding: 90px;
}

.p90-0 {
  padding: 90px 0px;
}

.p90-10 {
  padding: 90px 10px;
}

.p90-20 {
  padding: 90px 20px;
}

.p90-30 {
  padding: 90px 30px;
}

.p90-40 {
  padding: 90px 40px;
}

.p90-50 {
  padding: 90px 50px;
}

.p90-60 {
  padding: 90px 60px;
}

.p90-70 {
  padding: 90px 70px;
}

.p90-80 {
  padding: 90px 80px;
}

.p90-90 {
  padding: 90px 90px;
}

.p90-100 {
  padding: 90px 100px;
}

.p100 {
  padding: 100px;
}

.p100-0 {
  padding: 100px 0px;
}

.p100-10 {
  padding: 100px 10px;
}

.p100-20 {
  padding: 100px 20px;
}

.p100-30 {
  padding: 100px 30px;
}

.p100-40 {
  padding: 100px 40px;
}

.p100-50 {
  padding: 100px 50px;
}

.p100-60 {
  padding: 100px 60px;
}

.p100-70 {
  padding: 100px 70px;
}

.p100-80 {
  padding: 100px 80px;
}

.p100-90 {
  padding: 100px 90px;
}

.p100-100 {
  padding: 100px 100px;
}

.ml-10 {
  margin-left: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pl-30 {
  padding-left: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.ml-40 {
  margin-left: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.pl-40 {
  padding-left: 40px;
}

.pt-40 {
  padding-top: 40px;
}

.pr-40 {
  padding-right: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.ml-50 {
  margin-left: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pl-50 {
  padding-left: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.pr-50 {
  padding-right: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.ml-60 {
  margin-left: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.mr-60 {
  margin-right: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.pl-60 {
  padding-left: 60px;
}

.pt-60 {
  padding-top: 60px;
}

.pr-60 {
  padding-right: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.ml-70 {
  margin-left: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.mr-70 {
  margin-right: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.pl-70 {
  padding-left: 70px;
}

.pt-70 {
  padding-top: 70px;
}

.pr-70 {
  padding-right: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.ml-80 {
  margin-left: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.mr-80 {
  margin-right: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.pl-80 {
  padding-left: 80px;
}

.pt-80 {
  padding-top: 80px;
}

.pr-80 {
  padding-right: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.ml-90 {
  margin-left: 90px;
}

.mt-90 {
  margin-top: 90px;
}

.mr-90 {
  margin-right: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.pl-90 {
  padding-left: 90px;
}

.pt-90 {
  padding-top: 90px;
}

.pr-90 {
  padding-right: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.ml-100 {
  margin-left: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.mr-100 {
  margin-right: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.pl-100 {
  padding-left: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pr-100 {
  padding-right: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mt-5 {
  margin-top: 5px;
}

.setting-textarea {
  min-height: 100px;
  width: 100%;
  resize: none;
  padding: 20px;
}

.full, .my-search, .my-search .my-search-input-box, .my-search .my-search-input-box .my-search-input {
  width: 100% !important;
  height: 100% !important;
}

.imgDocker img {
  width: 100%;
  height: auto;
}

.imgDocker a {
  display: block;
  width: 100%;
  height: auto;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.db {
  display: block !important;
}

.di {
  display: inline-block;
}

.pr, .my-search {
  position: relative;
}

.pa {
  position: absolute;
}

.show, .my-search .my-search-box .my-search-ul {
  display: block;
}

.hide {
  display: none;
}

.newshow {
  visibility: visible;
}

.newhide {
  visibility: hidden;
}

.p0 {
  padding: 0 !important;
}

.p10-0 {
  padding: 10px 0;
}

.m0 {
  margin: 0 !important;
}

.m10-0 {
  margin: 10px 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.h0 {
  height: 0 !important;
}

.m10 {
  margin: 10px;
}

.m10-0 {
  margin: 10px 0;
}

.m0-10 {
  margin: 0 10px;
}

.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.p10-0 {
  padding: 10px 0;
}

.p0-10 {
  padding: 0 10px;
}

.m-auto {
  margin: 0 auto;
}

.b0 {
  border: 0 !important;
}

.fb {
  font-weight: bold;
}

.center {
  text-align: center;
}

.cp {
  cursor: pointer;
}

.lh-1 {
  line-height: 1;
}

.un {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.color_primary {
  color: #337ab7;
}

.color_success {
  color: #5cb85c;
}

.color_info {
  color: #5bc0de;
}

.color_warning {
  color: #f0ad4e;
}

.color_danger {
  color: #d9534f;
}

.required_msg_box b {
  color: #555;
  font-weight: normal;
}

.color_danger_b {
  border: 1px solid #d9534f;
  color: #d9534f;
}

.bordercolor_danger {
  border-color: #d9534f !important;
}

.removeIcon:hover {
  color: #d9534f;
}

.icon {
  font-size: 2.4rem;
}

.docker-border {
  border: 1px solid #cacaca;
}

.base-bg-color {
  background: #1a8eff !important;
  color: #fff !important;
}

.of-v {
  overflow: visible !important;
}

.of-h {
  overflow: hidden !important;
}

.wbba {
  word-break: break-all !important;
}

.ws-nowrap {
  white-space: nowrap;
}

/* 开关组件开始 */
.switchBox {
  width: 62px;
  overflow: hidden;
  border-radius: 20px;
  font-size: 12px;
  line-height: 1;
}

.switchBox .switch {
  width: 100px;
  padding: 2px 0;
  border-radius: 20px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.switchBox .switch .switch_font {
  width: 30px;
  text-align: center;
  padding: 0 5px;
}

.switchBox .switch .switch_font:first-child {
  padding-left: 0;
}

.switchBox .switch .switch_font:last-child {
  padding-right: 0;
}

.switchBox .switch .switch_circle {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
}

.switchBox .switch_on {
  background: #5cb85c;
}

.switchBox .switch_off {
  background: #d9534f;
  -webkit-transform: translateX(-37px);
          transform: translateX(-37px);
}

/* 开关组件结束 */
/* 模糊搜索开始 */
.my-search .my-search-input-box .my-search-input-docker {
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  line-height: 1;
}

.my-search .my-search-input-box .my-search-input {
  border: 0;
  padding: 0 10px;
  font-weight: bold;
  min-height: 32px;
}

.my-search .my-search-input-box .my-search-icon {
  padding: 0 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  font-size: 1.2rem;
}

.my-search .my-search-input-box .my-search-icon-up {
  -webkit-transform: rotateZ(-180deg);
          transform: rotateZ(-180deg);
}

.my-search .my-search-box {
  position: absolute;
  left: 0;
  top: 100%;
  width: auto;
  height: auto;
  max-height: 400px;
  background: #fff;
  overflow: auto;
  z-index: 99;
  border-radius: 0 0 5px 5px;
  border: 1px solid #e0e0e0;
}

.my-search .my-search-box .my-search-ul {
  position: relative;
  left: 0;
  top: 0;
  border: 0;
  overflow: visible;
  max-height: none;
  width: 100%;
}

.my-search .my-search-box .my-search-ul .my-search-li {
  padding: 10px;
  cursor: pointer;
  line-height: 1.4rem;
  height: auto;
  text-indent: inherit;
  border-top: 1px solid #e0e0e0;
}

.my-search .my-search-box .my-search-ul .my-search-li:hover {
  background: #1a8eff;
  color: #fff;
}

.my-search .my-search-box .my-search-ul .my-search-li:first-child {
  border-top: 0;
}

/* 模糊搜索结束 */
/* 多项模糊搜索结束 */
.slide-fade-enter-active {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.slide-fade-leave-active {
  -webkit-transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter, .slide-fade-leave-to {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.list-item {
  display: inline-block;
  margin-right: 10px;
}

.list-enter-active, .list-leave-active {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.list-enter, .list-leave-to {
  opacity: 0;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.list-move {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.date-picker-box {
  width: 350px;
}

.w100 {
  width: 100%;
}

.ml-10 {
  margin-left: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.element-table table {
  border-collapse: inherit;
}
/*# sourceMappingURL=vuecomponents.css.map */